*, body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 1200px;
    background-image: url(/Assets/Images/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
nav {
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: space-around;
    font-family: 'Anton', sans-serif;
    padding: 20px;
    max-height: fit-content;
}
.sub_container{
    color: #000;
   
}
.sub_container h1{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 900;  
}
.links  {
    text-align: center;
    padding: 30px;
    margin-right: 200px;
}
.links > a{
    text-decoration: none;
    padding: 10px; 
}
.links > a:hover {
    color:red;
}
.visited_link {
    border-bottom: 2px solid #800020;
    color: #800020;
}
#profile {
    background-image: url(/Assets/Images/Rectangle\ 3.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    margin-right: 280px;
}
.message{
    margin-left: 350px;
    margin-top: 550px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #9a9090;
    height: 300px;
    max-width: 600px;
}
.content{
    line-height: 2em;
    text-align: center;
}
.content h1{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.content h3{
    font-family: sans-serif;
}
.content p{
    font-size: larger;
}
#btn {
    padding: 15px;
    background-color: #800020;
}
