*, body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 1100px;
    background-image: url(https://i.pinimg.com/564x/67/e5/c0/67e5c068aabb74f6af8bc5dae6576e34.jpg);
     background-repeat: no-repeat; 
    background-position: center;
    background-color: #000;
    

}
nav {
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: space-around;
    font-family: 'Anton', sans-serif;
    padding: 20px;
    max-height: fit-content;
}
.sub_container{
    color: #000;
   
}
.sub_container h1{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 900;  
}
.links  {
    text-align: center;
    padding: 30px;
    margin-right: 200px;
}
.links > a{
    text-decoration: none;
    padding: 10px; 
}
.links > a:hover {
    color:red;
}
.visited_link {
    border-bottom: 2px solid #800020;
    color: #800020;
}
#profile {
    /* background-image: url(/Assets/Images/Rectangle\ 3.jpg); */
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    margin-right: 630px;
    float: right;
}
.message{
    margin-left: 350px;
    margin-top: 550px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #9a9090;
    height: 300px;
    max-width: 600px;
}
.content{
    line-height: 2em;
    text-align: center;
}
.content h1{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.content h3{
    font-family: sans-serif;
}
.content p{
    font-size: larger;
}
#btn {
    padding: 15px;
    background-color: #800020;
    font-weight: 900;
    font-size: large;
    border-radius: 20px;
}
.firstFooter{
    width: 100%;
    background-color: #9a9090;
    color: black; 
    padding: 20px;
}
.newsLetter h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.subscribe > input {
    border-radius: 20px;
    padding: 5px;
    align-items: center;
    margin-left: 650px;
    width: 400px;
}
.subscribe > .button {
    border-radius: 20px;
    padding: 5px;
    background-color: #800020;
    font-weight: 700;
    font-size: large;
}
.color {
    background-color: grey;
    width: 100%;
}
.copyright {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 700px;
}
.copyright h3 {
    padding: 10px;
    font-size: large;
    font-weight: 900;
    text-align: center;
}
.contact {
    display: inline-flex;
    justify-content: space-between;
}


